# Logs
logs
*log
npm-debuglog*
yarn-debuglog*
yarn-errorlog*
pnpm-debuglog*
lerna-debuglog*

node_modules
dist
dist-ssr
*local

# Editor directories and files
vscode/*
!vscode/extensionsjson
idea
DS_Store
*suo
*ntvs*
*njsproj
*sln
*sw?

.env
.env.local